@use 'variables' as *;

.page-header {
  height: 45vh;
  background-color: $grey--700;

  display: grid;
  grid-template-columns: 1fr min(#{$page--max-width}, 100%) 1fr;

  &__content {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

  &__hero-title {
    grid-column: 3 / -3;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: $white;
  }

  &__hero-subtitle {
    font-size: $font--large;
    color: var(--primary--400);

    display: block;
  }
}
