@use 'variables' as *;

.page-navigation {
  background: $orange--400;

  display: grid;
  grid-template-columns: 1fr min(#{$page--max-width}, 100%) 1fr;

  &__content {
    grid-column: 2 / -2;
    padding: $gap--small;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-family: 'Arizonia', serif;
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: $grey--800;
    text-shadow: 0.5rem 0.5rem 1rem rgba($black, 0.15);
    transform: rotate(-5deg);

    display: block;
  }

  &__list {
    list-style: none;

    display: flex;

    & > :not(:first-child) {
      margin-left: $gap--medium;
    }
  }
}
