$yellow--400: #fc0;
$orange--400: #fa0;

$white: #fff;
$grey--100: #eee;
$grey--200: #ccc;
$grey--300: #aaa;
$grey--400: #999;
$grey--500: #777;
$grey--600: #555;
$grey--700: #333;
$grey--800: #111;
$black: #000;

$font--small: 1.2rem;
$font--medium: 1.6rem;
$font--large: 2rem;

$gap--small: 1rem;
$gap--medium: 3rem;
$gap--large: 5rem;

$page--max-width: 126rem;
$page--min-width: 32rem;
