@use 'variables' as *;

.webfunkles {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;

  & > :last-child {
    margin-bottom: 10rem;
  }

  &__content {
    grid-column: 2 / -2;
    padding: 0 $gap--large;
    padding-bottom: $gap--large;
  }

  &__list {
    list-style: square;
    padding-left: $gap--medium;
  }

  &__header {
    text-transform: uppercase;
    padding: $gap--small;
    color: $grey--800;
    background-color: $orange--400;
    margin-top: $gap--large;
    margin-bottom: $gap--medium;
  }

  &__subheader {
    color: $orange--600;
    margin-top: $gap--medium;
    margin-bottom: $gap--small;
  }

  &__text {
    margin-bottom: $gap--medium;

    & em {
      color: $orange--600;
    }
  }

  &__code-block {
    font-size: 1.6rem;
    background-color: rgba($orange--400, 0.15);
    padding: $gap--medium;
  }
}
