<section class="color-changer">
  <div class="color-changer__content">
    <div class="color-changer__colors">
      <div class="color-changer__color-orange" data-main="fa0" data-light="edc" data-dark="c70"></div>
      <div class="color-changer__color-pink" data-main="f6a" data-light="ecd" data-dark="c37"></div>
      <div class="color-changer__color-aqua" data-main="7e9" data-light="ced" data-dark="4b6"></div>
    </div>
    <div class="color-changer__text-box">
      <h3 class="color-changer__header">Color Changer</h3>
      <p class="color-changer__text">Click a color to change the page!</p>
    </div>
  </div>
</section>
