<footer class="page-footer">
  <div class="page-footer__content">
    <div class="page-footer__text-box">
      <i class="page-footer__logo">Webfunkles</i>
      <p class="page-footer__text">A boilerplate demonstration of Eleventy with Webpack.</p>
    </div>
    <div class="page-footer__icons">
      <svg class="page-footer__icon">
        <use href="#home"></use>
      </svg>
      <svg class="page-footer__icon">
        <use href="#casino"></use>
      </svg>
      <svg class="page-footer__icon">
        <use href="#collections"></use>
      </svg>
    </div>
  </div>
</footer>
