<header class="header">
  <nav class="header__navigation">
    <i class="header__logo">Webfunkles</i>
    <ul class="navigation">
      <li class="navigation__item"><a href="index.html" class="navigation__link">Page One</li>
      <li class="navigation__item"><a href="pagetwo.html" class="navigation__link">Page Two</a></li>
      <li class="navigation__item"><a href="pagethree.html" class="navigation__link">Page Three</a></li>
    </ul>
  </nav>
  <div class="header__hero">
    <h1 class="header__text">{{ header__main }}<span class="header__sub-text">{{ header__sub }}</span></h1>
  </div>
</header>
