<nav class="page-navigation">
  <div class="page-navigation__content">
    <i class="page-navigation__logo">Webfunkles</i>
    <ul class="page-navigation__list">
      <li class="page-navigation__item">
        <a href="index.html" class="page-navigation__link">Home</a>
      </li>
      <li class="page-navigation__item">
        <a href="pagetwo.html" class="page-navigation__link">Scripts</a>
      </li>
      <li class="page-navigation__item">
        <a href="pagethree.html" class="page-navigation__link">Images</a>
      </li>
    </ul>
  </div>
</nav>
