<section class="webfunkles">
  <div class="webfunkles__content">
    <h3 class="webfunkles__header">Features</h3>
    <ul class="webfunkles__list">
      <li class="webfunkles__item">Webpack</li>
      <li class="webfunkles__item">Eleventy</li>
      <li class="webfunkles__item">Sass</li>
      <li class="webfunkles__item">PostCSS</li>
      <li class="webfunkles__item">Babel</li>
    </ul>
    <h3 class="webfunkles__header">Usage</h3>
    <h4 class="webfunkles__subheader">Overview</h4>
    <p class="webfunkles__text">Eleventy works from the <em>src/templates</em> folder, generating the <em>src/html</em> folder as ouput.</p>
    <p class="webfunkles__text">
      Webpack works from the <em>src</em> folder, using the contents of the <em>src/html</em> for the pages to generate the <em>dist</em> folder as output.
    </p>
    <h4 class="webfunkles__subheader">Development</h4>
    <p class="webfunkles__text">To run the development server:</p>
    <p class="webfunkles__code-block">npm start</p>
    <h4 class="webfunkles__subheader">Production</h4>
    <p class="webfunkles__text">To build the final production code:</p>
    <p class="webfunkles__code-block">npm run build</p>
  </div>
</section>
