<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="A boilerplate for using Webpack with Eleventy." />
    <link rel="preload" as="font" type="font/woff2" href="<%= require('../assets/fonts/arizonia-v11-latin-regular.woff2') %>" crossorigin />
    <link rel="preload" as="font" type="font/woff2" href="<%= require('../assets/fonts/poppins-v15-latin-regular.woff2') %>" crossorigin />
    <% _.each(htmlWebpackPlugin.files.css, function(file) { %>
    <link rel="stylesheet" href="<%= file %>" />
    <% }); %> <% _.each(htmlWebpackPlugin.files.js, function(file) { %>
    <script defer src="<%= file %>"></script>
    <% }); %>
    <title>Webfunkles Demonstration | {{ title }}</title>
  </head>
  <body>
    {% include ../../assets/images/icons.svg %} {% include _navigation.html %} {{ content }} {% include _footer.html %}
  </body>
</html>
